<div class="wrapper">
  <div class="banner mb-3" style="background-image: url(<%= image_path "banner.jpg" %>);">
    <h1 class="banner-text">tchin-tchin <br> Mister Cocktails</h1>
  </div>
  <div class="container text-center">
    <h1 class= "p-4">Lets discover_</h1>

    <div class="row justify-content-center">
      <% @cocktails.each do |cocktail| %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-photo">
            <%= image_tag "cocktail6.jpg", height: '200px' %>
          </div>
          <div class="card-body">
            <h5 class="card-title"> <%= cocktail.name %> </h5>
            <p class="card-text"> <%= cocktail.ingredients.count %> ingredients</p>
            <%= link_to 'See details', cocktail_path(cocktail), class: 'btn btn-warning' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <h1 class="p-4">Feel free to add a cocktail_</h1>
    <%= link_to '+ Add a cocktail', new_cocktail_path, class: 'btn btn-warning mb-5' %>
  </div>
</div>
