<h1>Add a new cocktail</h1>
<div class="m-3">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.association :ingredients, as: :check_boxes %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit 'Add to list', class: 'btn btn-warning' %>
  <% end %>
</div>
<div class="m-3">
  <%= link_to 'Cancel', cocktails_path, class: 'btn btn-info' %>
</div>
