<div class="wrapper vh-100">
<h1 class="text-center p-3">Add a new dose !</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
      <%= f.input :description %>
      <%= f.submit 'Add to list', class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
</div>
<div class="text-center m-5">
  <%= link_to 'Cancel', cocktail_path(@cocktail), class: 'btn btn-info' %>
</div>
</div>
